### Gradle ###

.gradle/
build/
out/
classes/
gradle/wrapper/gradle-wrapper.jar

build.properties
.architectury-transformer

### IntelliJ IDEA ###
.idea/
.shelf/
*.iml
*.ipr
*.iws

### Minecraft ###
.runs/
run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
### Stonecutter ###

versions/
build.log
